.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar{
  width:100%;
  height: 6rem;
  color: white;
  background-color: black;
  position:fixed;
  top:0;
}

.image-class{
 width:5em;
 position: fixed;
 top:0;
 left:0;
}
.topic{
  text-align: center;
}
.contact-class{
  position: fixed;
  top: 3em;
  right:0;
  width:3rem;

}
.se{
  position: fixed;
  top: 100px;
  left:40%;
  text-align: center;
  
}